<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GISContext" connectionString="data source=Toni-PC;initial catalog=GIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Suporte" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Suporte" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec2-13-58-74-236.us-east-2.compute.amazonaws.com/SST.Services/SVC/Suporte.svc/Soap11"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Suporte"
        contract="WCF_Suporte.Suporte" name="BasicHttpBinding_Suporte" />
      <endpoint address="http://ec2-13-58-74-236.us-east-2.compute.amazonaws.com/SST.Services/SVC/Suporte.svc/Soap12"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Suporte"
        contract="WCF_Suporte.Suporte" name="WSHttpBinding_Suporte">
        <identity>
          <servicePrincipalName value="host/WIN-LF69LIORUBB" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>