<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>GESTOR > @ViewData["Title"]</title>

    <!-- Pace -->
    <script src="~/admin-lte/PACE/pace.min.js"></script>
    <link href="~/admin-lte/PACE/themes/purple/pace-theme-corner-indicator.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/admin-lte/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin-lte/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin-lte/Ionicons/css/ionicons.min.css">
    <!-- UIElements -->
    <partial name="_UIElementsStylesPartial" />

    @RenderSection("Styles", required: false)

    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin-lte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/admin-lte/dist/css/skins/skin-purple.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/custom/css/site.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-purple sidebar-mini">
    <script>
        var toggleItemName = ".AspNetCore.Toggle.Gestor.MainSidebar";
        if (localStorage.getItem(toggleItemName) === "true") {
            document.body.classList.add("sidebar-collapse");
        }
    </script>
    <div class="wrapper">
        <partial name="_MainHeader" />
        <partial name="_MainSidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <partial name="_BreadcrumbPartial" />
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <!--------------------------
            | Your Page Content Here |
            -------------------------->
                <main role="main" class="pb-3">
                    <partial name="_FeedbacksPartial" />
                    @RenderBody()
                </main>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <partial name="_MainFooter" />
        <partial name="_ControlSidebar" />
    </div>

    <!-- jQuery 3 -->
    <script src="~/admin-lte/jquery/dist/jquery.min.js"></script>
    <!-- jQuery Ajax Unobtrusive -->
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/admin-lte/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- UIElements -->
    <partial name="_UIElementsScriptsPartial" />
    <!-- AdminLTE App -->
    <script src="~/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- Bootbox -->
    <script src="~/lib/bootbox/dist/bootbox.min.js"></script>
    <!-- Custom Scripts -->
    <script src="~/custom/js/user-interactions.min.js"></script>

    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ajaxStart(function () { Pace.restart(); });
    </script>

    <partial name="_CookieConsentPartial" />
</body>
</html>