<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <span class="action-buttons">
            <span style="font-size:13px; color: #1A1B1F">
                &copy; 2019
            </span>
            <a>
                <img src="~/furiza_simbolo_logo_90px.png" style="height: 35px; margin-top: -7px;" />
            </a>

            <span style="font-size:13px; font-weight: 900; font-family: Arial, Helvetica, sans-serif; color: #1A1B1F">
                <img src="~/furiza_escrita_logo_3_185px.png" style="height: 20px; margin-top: -5px;" />
            </span>
            @*<span style="font-size:13px; font-weight: 900; font-family: Arial, Helvetica, sans-serif; color: #1A1B1F">
                    FURĪZA
                </span>*@
        </span>
    </div>

    <!-- Default to the left -->
    <span class="action-buttons">
        <a href="http://www.cemig.com.br" target="_blank">
            <img src="~/cemig_100px.png" style="width: 65%" />
        </a>
    </span>
</footer>