<div class="callout callout-info">
    <h4><i class="icon fa fa-info-circle"></i> Nenhum item localizado nesta seção!</h4>

    <p>Isto ocorreu por algum dos motivos abaixo:</p>
    <ul>
        <li>Os filtros utilizados na pesquisa não são compatíveis com nenhum recurso na base de dados;</li>
        <li>A conta de usuário logado não possui privilégios para acesso aos recursos buscados;</li>
        <li>Não existem ainda itens cadastrados nesta seção. Neste caso, realize algum cadastro ou solicite a um responsável que o faça; então, volte novamente a esta página.</li>
    </ul>
</div>