################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SESTEC/Gestor.Application/bin/Debug
